{% extends "indexBase.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="about-section">
    <h1>About QooQoo</h1>
    <p>QooQoo allows users to topup and record used screen time</p>
    <p>Make sure you enjoy the full service with the client application on your computer</p>
  </div>
  
  <div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card" style="width: 36rem;">
            <div class="card-header">
                <h3>Time Management Graph</h3>
                <div class="d-flex justify-content-end social_icon">
                </div>
            </div>
            <div class="card-body">
                <img class="card-img-top" src="static/images/time_used_example.png" alt="TimeUsedExample">
                This is an example of time used graph
            </div>
        </div>

        <div class="card" style="width: 36rem;">
            <div class="card-header">
                <h3>Admin Action Graph</h3>
                <div class="d-flex justify-content-end social_icon">
                </div>
            </div>
            <div class="card-body">
                <img class="card-img-top" src="static/images/admin_action_example.png" alt="TimeUsedExample">
                This is an example of admin action graph
            </div>
        </div>

    </div>
</div>
        
<br/>
{% endblock %}           

