{% extends "base.html" %}
{% block title %}Home{% endblock %}
<!-- home page for QooQoo, QooQoo.io -->
{% block content %}

{% if current_user.is_authenticated %}

	<h1>Hi {{ current_user.name }}, welcome back to QooQoo</h1>
{% else %}

	<h1>Welcome to QooQoo</h1>
{%- endif %}
</br></br></br>
<h3>Our mission is to strengthen the relationship between the parent and the child.</h3>
</br></br></br>
<p><strong>Many parents restrict their child's screen time.  </strong></p>
<p><strong>This then leads the child to secretly play when the parents aren't there to supervise them. </strong></p>
<p><strong>soon, the mistrust forming between the parent and the child will become noticeable. </strong></p>
<p><strong>QooQoo helps with that. it allows the parent to monitor the child's screen time usage and allows the parent to gift some screen time as a reward. </strong></p>
<p><strong>The gifted screen time proves useful, as when the time runs out... good-bye, Wi-Fi   </strong></p>
<br/>
<br/>
<br/>
<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card" style="width: 36rem;">
			<div class="card-header">
				<h3>Time Management Graph</h3>
				<div class="d-flex justify-content-end social_icon">
				</div>
			</div>
			<div class="card-body">
                <img class="card-img-top" src="static/images/time_used_example.png" alt="TimeUsedExample">
                This is an example of time used graph
            </div>
        </div>

		<div class="card" style="width: 36rem;">
			<div class="card-header">
				<h3>Admin Action Graph</h3>
				<div class="d-flex justify-content-end social_icon">
				</div>
			</div>
			<br/>
			<br/>
			<br/>
			<div class="card-body">
                <img class="card-img-top" src="static/images/admin_action_example.png" alt="TimeUsedExample">
                This is an example of admin action graph
            </div>
        </div>

    </div>
</div>

{% endblock %}
