{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<h1>Welcome to Chronos</h1>
<p>Chronos is an app that does time keeping. </p>
<p>In other words, it allows the following</p>
<ul>
    <li>upload time you earned</li>
    <li>deduct time you used</li>
    <li>monitor the time usage </li>
</ul>
<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card" style="width: 36rem;">
			<div class="card-header">
				<h3>Time Management Graph</h3>
				<div class="d-flex justify-content-end social_icon">
				</div>
			</div>
			<div class="card-body">
                <img class="card-img-top" src="static/images/time_used_example.png" alt="TimeUsedExample">
                This is an example of time used graph
            </div>
        </div>

		<div class="card" style="width: 36rem;">
			<div class="card-header">
				<h3>Admin Action Graph</h3>
				<div class="d-flex justify-content-end social_icon">
				</div>
			</div>
			<div class="card-body">
                <img class="card-img-top" src="static/images/admin_action_example.png" alt="TimeUsedExample">
                This is an example of admin action graph
            </div>
        </div>

    </div>
</div>

{% endblock %}
