<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">

        {% if current_user.is_authenticated %}
          <a class="navbar-brand" href="{{ url_for('home') }}">
              <img src="static/images/qooqoo.png" alt="" width="80" height="65"> 
              <!-- <img src="static/images/logo_zoomed.png" alt="" width="50" height="45">  -->
          </a>
        {% else %}
          <a class="navbar-brand" href="{{ url_for('index') }}">
            <!-- <img src="static/images/logo_zoomed.png" alt="" width="50" height="45">  -->
            <img src="static/images/qooqoo.png" alt="" width="80" height="65"> 
          </a>
        {%- endif %}
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              {% if current_user.is_authenticated == false %}
              <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('registration')}}">User Registration<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('login')}}">Sign in<span class="sr-only">(current)</span></a>
              </li>
              {%- endif %}
              {% if current_user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('logout')}}">Sign out<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="{{ url_for('account_profile')}}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Account Setting
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{{ url_for('account_profile')}}">Account Profile</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{{ url_for('account_secret')}}">Account Secret</a>
                  <!-- <a class="dropdown-item" href="#">more secret</a> -->
                </div>
              </li>
              {%- endif %}

            </ul>
        </div>        

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

    </div> 
  </nav>
  
