{% extends "base.html" %}
{% block title %}Graphs{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">Time Management</li>
      <li class="breadcrumb-item active" aria-current="page">{{graph_url_name}}</li>
    </ol>
  </nav>

<div class="container-fluid">
    <div class="row-fluid mt-md-n5">
        {% if time_file_upload_success == true %}
            {% if file_name == None %}
                <p>Topup successful</p>
            {% else %}
                <p>File {{file_name}} upload successful</p>
            {% endif%}
            <p>time remaining: {{remaining_time}}</p>

        {% else%}
            <p>file {{file_name}} upload failed</p>
        {% endif %}
        <br/>
        <br/>
    </div>
</div>
{% endblock %}
