{% extends "base.html" %}
{% block title %}Time Info List{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row-fluid mx-auto w-75">

        <table class="table table-bordered" >
            <thead style="background-color: darkgray; text-align: center; color: white;">
                <tr>
                    <th><b>Topup minutes</b></th>
                    <th><b>Used minutes</b></th>
                    <th><b>Date</b></th>
                </tr>
            </thead>

            <tbody>
                {% for rec in time_records %}
                <tr>
                  <td>{{ rec['minutesAdded'] | sum }}</td>
                  <td>{{ rec['minutesUsed'] | sum }}</td>
                  <td>{{ rec['datetime'].strftime('%Y-%m-%d') }}</td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
        <div class="d-flex justify-content-center">
            {{ pagination.links }}
          </div>
    </div>
</div>
{% endblock %}
