{% extends "base.html" %}
{% block title %}Time Info List{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">Time Management</li>
      <li class="breadcrumb-item active" aria-current="page">{{graph_url_name}}</li>
    </ol>
  </nav>

<div class="container-fluid">
    <div class="row-fluid mx-auto w-75">
        <table class="table table-bordered table-active" >

            <div class="d-flex justify-content-between ">
                <tr>
                    <td>Total remaining time: {{remain}}</td>
                    <td>Total topup time: {{topup}}</td>
                    <td>Total used time: {{used}}</td>
                </tr>

            </div>
        </table>

        <table class="table table-bordered" >
            <thead style="background-color: darkgray; text-align: center; color: white;">
                <tr>
                    <th><b>Topup minutes</b></th>
                    <th><b>Used minutes</b></th>
                    <th><b>Date</b></th>
                </tr>
            </thead>

            <tbody>
                {% for rec in time_records %}
                <tr>
                  <td>{{ rec['minutesAdded'] | sum }}</td>
                  <td>{{ rec['minutesUsed'] | sum }}</td>
                  <td>{{ rec['datetime'].strftime('%Y-%m-%d') }}</td>
                </tr>
              {% endfor %}
            </tbody>
        </table>

        <div class="d-flex justify-content-between">
            <div class="p-2">
                <a href="{{ url_for('export_time_csv_file') }}" class="btn btn-primary btn-md active" aria-pressed="true" role="button">Export csv</a>
            </div>
            {{ pagination.links }}
        </div>
    </div>
</div>
{% endblock %}
