{% extends "base.html" %}
{% block title %}Update Secret{% endblock %}

{% block content %}
<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card" style="width: 36rem;">
			<div class="card-header">
				<h3>Update Account Password</h3>
				<div class="d-flex justify-content-end social_icon">
				</div>
			</div>
			<div class="card-body">
				<form method="POST">
                    {{ account_secret_form.csrf_token() }}
					<div class="input-group form-group justify-content-left">

                            <div class="col col-4 text-left">

                                {{ account_secret_form.user_name.label(class="form-label") }}
                            </div>
                            <div class="col col-8">

                                {{ account_secret_form.user_name(class="form-control", disabled_="disabled") }}
                            </div>

					</div>
					<div class="input-group form-group">

                            <div class="col col-4 text-left">
                            {{ account_secret_form.password.label(class="form-label") }}
                            </div>
                            <div class="col col-8">

                            {{ account_secret_form.password(class="form-control") }}
                            </div>

					</div>
                    <div class="input-group form-group">
                        <div class="col col-4 text-left">

                        {{ account_secret_form.password2.label(class="form-label") }}
                        </div>
                        <div class="col col-8">

                        {{ account_secret_form.password2(class="form-control") }}
                        </div>
					</div>
                    {% for field, errors in account_secret_form.errors.items() %}
                    <small class="form-text text-muted ">
                        {{ ', '.join(errors) }}
                    </small>
                    {% endfor %}                    

					<div class="form-group">
                        {{ account_secret_form.submit(class="btn float-center btn_primary") }}

					</div>
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock %}