{% extends "base.html" %}
{% block title %}Enter Time{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">Time Management</li>
      <li class="breadcrumb-item active" aria-current="page">{{graph_url_name}}</li>
    </ol>
  </nav>

<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card" style="width: 36rem;">
			<div class="card-header">
				<h3>Enter Time Info</h3>
				<div class="d-flex justify-content-end social_icon">
				</div>
			</div>
			<div class="card-body">
				<form method="POST">
                    {{ time_upload_form.csrf_token() }}
					<div class="input-group form-group justify-content-left">

                            <div class="col col-4 text-left">

                                {{ time_upload_form.minutes_field.label(class="form-label") }}
                            </div>
                            <div class="col col-8">

                                {{ time_upload_form.minutes_field(class="form-control") }}
                            </div>

					</div>
                    <div class="input-group form-group justify-content-left">


                            <div class="col col-4 text-left">
                                {{ time_upload_form.action_field.label(class="form-label") }}

                            </div>
                            <div class="col col-8">
                                {{ time_upload_form.action_field(class="form-control") }}

                            </div>
					</div>
                    {% for field, errors in time_upload_form.errors.items() %}
                    <small class="form-text text-muted ">
                        {{ ', '.join(errors) }}
                    </small>
                    {% endfor %}                    

					<div class="form-group">
                        {{ time_upload_form.submit(class="btn float-center btn_primary") }}

					</div>
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock %}